<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Halaman Login</h1>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo repellat dignissimos quaerat aliquam blanditiis cupiditate mollitia hic aliquid provident. Fugiat ex totam sed alias nisi minus nostrum architecto veritatis inventore in velit sunt, illo suscipit nam expedita porro, officia libero provident voluptate praesentium, repudiandae enim nulla. Similique qui autem cupiditate, sit modi, recusandae ea dolorum soluta quos cum exercitationem ullam reiciendis nulla unde iste. Consequatur sint suscipit laborum. Corrupti eius sequi reiciendis esse accusantium impedit inventore error reprehenderit numquam debitis dolorum maiores voluptatum quibusdam autem voluptas excepturi dicta, quam a? Alias, distinctio similique expedita necessitatibus deserunt placeat voluptatibus vitae libero.</h3>
</body>
</html>